@model IEnumerable<QLSL.Models.TLSignalPlan>
@{
    int pageNumber = (int)ViewBag.PageNumber;
    int pageSize = (int)ViewBag.PageSize;
    int currentno = ((pageNumber - 1) * pageSize) + 1;
}
<tbody id="uBody">
@foreach (var item in Model)
{
    <tr>
        <td class="text-center">
            @currentno
            @{currentno = currentno + 1;}
        </td>
        <td class="width-12">
            @Html.DisplayFor(modelItem => item.DateOccur)
        </td>
        <td class="width-20">
            @Html.DisplayFor(modelItem => item.TLNode.Name)
        </td>
        <td class="width-7">
            @Html.DisplayFor(modelItem => item.SignalPlanCurrent)
        </td>
        <td class="width-7">
            @Html.DisplayFor(modelItem => item.SignalPlanChanged)
        </td>
        <td class="width-12">
            @Html.DisplayFor(modelItem => item.ReasonChangeSP.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OperatorName)
        </td>

        <td>

            @if (item.Unforced || item.Changed)
            {
                <span> @string.Format("{0:dd/MM HH:mm}", item.DateUpdate): <b>@(item.Unforced ? "unforced" : "Changed")</b></span>
                <br/>
            }

            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td class="text-center width-10">
            @if (ViewContext.HttpContext.User.IsInRole("Operator"))
            {
                <a onclick="Edit(@item.TLSignalPlanID)" id="btnEdit_@item.TLSignalPlanID" class='btn btn-success btn-xs'>
                    <i class='glyphicon glyphicon-pencil'></i>
                </a>

                if (item.Unforced || item.Changed)
                {
                    <span class="bg-primary btn btn-xs" style="cursor: auto"><span class="glyphicon glyphicon-ok "></span></span>
                    if (ViewContext.HttpContext.User.IsInRole("Admin"))
                    {
                        <button onclick="Delete(@item.TLSignalPlanID, this)" class='btn btn-danger btn-xs'>
                            <i class='glyphicon glyphicon-remove'></i>
                        </button>
                    }
                }
                else
                {
                    <button onclick="Delete(@item.TLSignalPlanID, this)" class='btn btn-danger btn-xs' @(ViewContext.HttpContext.User.IsInRole("TeamLeader") ? "" : "disabled")>
                        <i class='glyphicon glyphicon-remove'></i>
                    </button>
                }
            }
        </td>
    </tr>
}
</tbody>